form(action='/books/update' method="post")
  input(name="id",type="text",value=value._id,style="display:none")
  lable Title
  input(name="title",type="text",value=value.title)
  br 
  lable Description
  input(name="description",type="text",value=value.description)
  br
  button update
  